+++
title = "Virtual Fly Brain"
linkTitle = "VFB"
aliases = ["/site/stacks/"]
images = ["vfb-featured-background.jpg"]
description = "Welcome to Virtual Fly Brain (VFB) - an interactive tool for neurobiologists to explore the detailed neuroanatomy, neuron connectivity and gene expression of Drosophila melanogaster. Our goal is to make it easier for researchers to find relevant anatomical information and reagents. We integrate the neuroanatomical and expression data from the published literature, as well as image datasets onto the same brain template, making it possible to run cross searches, find similar neurons and compare image data on our 3D Viewer."
+++

{{< blocks/cover title="Welcome to Virtual Fly Brain" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://v2.virtualflybrain.org/org.geppetto.frontend/geppetto">
		Launch VFB <i class="fas fa-desktop ml-2 "></i>
	</a>
	<p class="lead mt-5">A hub for Drosophila melanogaster neural anatomy, imaging data & connectomics.</p>

			<div id="contributeBox" class="panel panel-info" style="background-color:#fe0; border:2px solid black; border-radius:5px; margin:1em auto; max-width:1000px;color: black;">

                <div class="panel-body text-center">

                  <p>
                    <b style="color:red">
                      <span> <a href="https://flybase.org/" target="_blank">Our colleagues at FlyBase needs your help!</a> </span>
                    </b>
                  </p>
                  <p>
                    <b>
                      Because of recent changes to government funding, the NIH grant that supported FlyBase has been "terminated" along with many others.
                      Although this is being challenged in the courts, funds remain frozen and Flybase are reaching out to the community for emergency funding.
                      They therefore request that European labs contribute to the Cambridge, U.K. FlyBase group –
                      European PI's received an email on how to contribute.
                      They are working diligently to set up a mechanism to collect funds from U.S. and other labs; please check for the latest on <a href="https://flybase.org/" target="_blank">FlyBase.org</a>.
                      In the meantime, if you are a non-European lab that would like to contribute to FlyBase,
                      please send an email to <a href="https://flybase.org/contact/email?subject=fee" target="_blank">FlyBase help</a> and they will contact you later.
                      Thank you in advance for your support to keep FlyBase on air and continuing to serve the Drosophila research community.
		      We remain grateful to Wellcome for their continued support of Virtual Fly Brain.
                    </b>
                  </p>

                </div>

              </div>

	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to **Virtual Fly Brain (VFB)** - an interactive tool for neurobiologists to explore the detailed neuroanatomy, neuron connectivity and gene expression of _Drosophila melanogaster_.
Our goal is to make it easier for researchers to find relevant anatomical information and reagents.

We integrate the neuroanatomical and expression data from the published literature, as well as image datasets onto the same brain template, making it possible to run cross searches, find similar neurons and compare image data on our [3D Viewer](https://v2.virtualflybrain.org/org.geppetto.frontend/geppetto).

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Explore Connectomes!" %}}
New Circuit Browser Tool has been made available for user testing.

We always welcome user feedback
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/VirtualFlyBrain" %}}
We do a [Pull Request](https://github.com/VirtualFlyBrain/VFB2/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-newspaper" title="See the latest VFB news" url="https://virtualflybrain.org/blog/news/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Quickstart guide for VFB</h1>


<ul style="margin: 0; padding: 0; text-align: center; list-style: none;">
	<li>VFB integrates data curated from the literature with image data from many bulk sources.</li>
	<li>The search system (<i class="fas fa-search"></i>) allows you to search for neurons and neuroanatomical structures using almost any name found in the literature.</li>
	<li>The query system (<i class="fab fa-quora"></i>) can identify neurons innervating any specified neuropil or fasciculating with any specified tract.</li>
	<li>It also allows queries for genes, transgenes and phenotypes expressed in any brain region or neuron.</li>
	<li>Search and query results combine referenced textual descriptions with 3D images and links to originating data sources.</li>
	<li>VFB features tens of thousands of 3D images of neurons, clones and expression patterns, registered to standard template brains.</li>
	<li>Any combination of these images can be viewed together.</li>
	<li>You can hover (<i class="fas fa-mouse-pointer"></i>) to explore brain regions in the Stack Viewer.</li>
	<li>A BLAST-type query system (NBLAST) allows you to find similar neurons and drivers starting from a registered neuron.</li>
</ul>
</div>
{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-python" title="Code with **VFBconnect**" url="https://pypi.org/project/vfb-connect/" %}}
Interact with VFB via Python!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/VirtualFlyBrain" %}}
We do a [Pull Request](https://github.com/VirtualFlyBrain/geppetto-vfb/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-bluesky fa-flip" title="Follow us on Bsky!" url="https://virtualflybrain.bsky.social/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

