+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to Virtual Fly Brain" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://v2.virtualflybrain.org/org.geppetto.frontend/geppetto">
		Launch VFB <i class="fas fa-desktop ml-2 "></i>
	</a>
	<p class="lead mt-5">A hub for Drosophila melanogaster neural anatomy, imaging data & connectomics.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to **Virtual Fly Brain (VFB)** - an interactive tool for neurobiologists to explore the detailed neuroanatomy, neuron connectivity and gene expression of _Drosophila melanogaster_.
Our goal is to make it easier for researchers to find relevant anatomical information and reagents.

We integrate the neuroanatomical and expression data from the published literature, as well as image datasets onto the same brain template, making it possible to run cross searches, find similar neurons and compare image data on our [3D Viewer](https://v2.virtualflybrain.org/org.geppetto.frontend/geppetto).

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Explore Connectomes!" %}}
New Circuit Browser Tool has been made available for user testing.

We always welcome user feedback
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/VirtualFlyBrain" %}}
We do a [Pull Request](https://github.com/VirtualFlyBrain/VFB2/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/virtualflybrain" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Where to start with Virtual Fly Brain</h1>

VFB integrates data curated from the literature with image data from many bulk sources.
<ul>
	<li>The search system (<i class="fas fa-search"></i>) allows you to search for neurons and neuroanatomical structures using almost any name found in the literature.</li>
	<li>The query system (<i class="fab fa-quora"></i>) can identify neurons innervating any specified neuropil or fasciculating with any specified tract. It also allows queries for genes, transgenes and phenotypes expressed in any brain region or neuron.</li>
	<li>Search and query results combine referenced textual descriptions with 3D images and links to originating data sources.</li>
	<li>VFB features tens of thousands of 3D images of neurons, clones and expression patterns, registered to standard template brains.</li> 
	<li>Any combination of these images can be viewed together.</li>
	<li>You can hover (<i class="fas fa-mouse-pointer"></i>) to explore brain regions in the Stack Viewer.</li>
	<li>A BLAST-type query system (NBLAST) allows you to find similar neurons and drivers starting from a registered neuron.</li>
</ul>
</div>
{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
